<template>
  <div id="createBooking">
    <h2 class="mb-4">Create Booking</h2>
    <bookingCreate />
  </div>
</template>

<script>
import bookingCreate from '@/components/bookingCreate.vue'

export default {
  name: 'createBooking',
  components: {
    bookingCreate
  }
}
</script>
