<template>
  <div id="updateBooking">
    <h2 class="mb-4">Update Booking</h2>
    <bookingUpdate />
  </div>
</template>

<script>
import bookingUpdate from '@/components/bookingUpdate.vue'

export default {
  name: 'updateBooking',
  components: {
    bookingUpdate
  }
}
</script>
