<template>
  <div id="Home">
    <bookingsTable />
  </div>
</template>

<script>
import bookingsTable from '@/components/bookingsTable.vue'

export default {
  name: 'Home',
  components: {
    bookingsTable
  }
}
</script>
