.invalid-feedback[data-v-054455a4]{margin:0 .25rem;width:99.4%;font-size:100%;color:#fff;padding:.5rem .75rem;background-color:rgba(220,53,69,.75)}.typo__p[data-v-054455a4]{display:inline-block;line-height:1.6;color:#dc3545}