<template>
  <div id="createBooking">
    <b-form @submit.prevent="onSubmit" v-if="show" id="booking-form" class="needs-validation" novalidate>

      <b-form-group>
        <label for="contact-name">Contact Name</label>
        <b-input v-model.trim="form.contactName" id="contact-name" name="contactName" :class="{'is-invalid': $v.form.contactName.$error}"></b-input>
        <div class="invalid-feedback" v-if="submitted && !$v.form.contactName.required">Contact Name is required for the Booking</div>
      </b-form-group>

      <b-form-group>
        <label for="contact-number">Contact Number</label>
        <b-input v-model.trim="form.contactNumber" id="contact-number" name="contactNumber" :class="{'is-invalid': $v.form.contactNumber.$error}"></b-input>
        <div class="invalid-feedback" v-if="submitted && !$v.form.contactNumber.required">Contact Number is required for the Booking</div>
      </b-form-group>

      <b-form-group>
        <label for="no-of-people">Number of People</label>
        <b-input v-model.trim="form.numberOfPeople" id="no-of-people" name="numberOfPeople" :class="{'is-invalid': $v.form.numberOfPeople.$error}"></b-input>
        <div class="invalid-feedback" v-if="submitted && !$v.form.numberOfPeople.required">Please enter the number of people for the Booking</div>
        <div class="invalid-feedback" v-if="submitted && !$v.form.numberOfPeople.numeric">This field must be a number</div>
      </b-form-group>

      <b-form-group>
        <label for="table-number">Table Number</label>
        <b-input v-model.trim="form.tableNumber" id="table-number" name="tableNumber" :class="{'is-invalid': $v.form.tableNumber.$error}"></b-input>
        <div class="invalid-feedback" v-if="submitted && !$v.form.tableNumber.required">Please enter a table number for the Booking</div>
        <div class="invalid-feedback" v-if="submitted && !$v.form.tableNumber.numeric">This field must be a number</div>
      </b-form-group>

      <b-form-group class="mb-4 clearfix">
        <label for="booking-time">Booking Time</label>
        <b-input v-model.trim="form.bookingTime" id="booking-time" name="bookingTime" :class="{'is-invalid': $v.form.bookingTime.$error}" :placeholder="form.placeholder"></b-input>
        <div class="invalid-feedback" v-if="submitted && !$v.form.bookingTime.required">Please enter a date and time for the Booking</div>
      </b-form-group>

      <b-form-group class="mt-4">
        <b-button type="submit" class="mr-3 pl-4 pr-4" variant="success" :disabled="submitStatus === 'PENDING'">Submit Booking</b-button>
      </b-form-group>

    </b-form>
  </div>
</template>

<script>
  import axios from 'axios'
  import { required, minLength, numeric } from 'vuelidate/lib/validators'
  var moment = require('moment')

  export default {
    data() {
      return {
        form: {
          contactName: '',
          contactNumber: '',
          numberOfPeople: '',
          tableNumber: '',
          bookingTime: '',
          placeholder: 'dd/mm/yyyy --:--'
        },
        show: true,
        submitted: false,
        submitStatus: null,
        errors: {}
      }
    },
    validations: {
      form: {
        contactName: { required, minLength: minLength(3) },
        contactNumber: { required },
        numberOfPeople: { required, numeric },
        tableNumber: { required, numeric },
        bookingTime: { required }
      }
    },
    methods: {
      onSubmit() {
        this.submitted = true;
        this.$v.$touch();
        if (this.$v.$invalid) {
          this.submitStatus = 'ERROR'
        } else {
          this.submitStatus = 'PENDING';
          const formDate    = this.form.bookingTime;
          const date        = moment(formDate, 'DD/MM/YYYY HH:mm').format("YYYY-MM-DDTHH:mm:ss.sssZ");
          const bookingId   = bookings.reduce(
                                (max, booking) => (booking.bookingId > max ? booking.bookingId : max),
                                bookings[0].id
                              );
          const formData    = new FormData();
          formData.set = {
            bookingId: bookingId,
            contactName: this.form.contactName,
            contactNumber: this.form.contactNumber,
            numberOfPeople: this.form.numberOfPeople,
            tableNumber: this.form.tableNumber,
            bookingTime: date
          }
          axios.post('json/data.json', {
            text: JSON.stringify(data)
          })
          .then(function(response){
            const status = JSON.parse(response.data.response.status);
            if (status == '200') {
              this.$router.push({ name:'home' });
            }
          })
          .catch(function(response) {
            this.errors = response;
          })
        }
      }
    }
  }
</script>

<style scoped>
.invalid-feedback {
  margin: 0 0.25rem;
  width: 99.4%;
  font-size: 100%;
  color: #ffffff;
  padding: 0.5rem 0.75rem;
  background-color: rgba(220,53,69,0.75);
}
.typo__p {
  display: inline-block;
  line-height: 1.6;
  color: rgb(220,53,69);
}
</style>
