<template>
  <div id="updateBooking">
    <b-form @submit.prevent="onSubmit" v-if="show" id="booking-form" class="needs-validation" novalidate>

      <b-form-group>
        <label for="contact-name">Contact Name</label>
        <b-input v-model.trim="form.contactName" id="contact-name" name="contactName" :class="{'is-invalid': $v.form.contactName.$error}"></b-input>
        <div class="invalid-feedback" v-if="submitted && !$v.form.contactName.required">Contact Name is required for the Booking</div>
      </b-form-group>

      <b-form-group>
        <label for="contact-number">Contact Number</label>
        <b-input v-model.trim="form.contactNumber" id="contact-number" name="contactNumber" :class="{'is-invalid': $v.form.contactNumber.$error}"></b-input>
        <div class="invalid-feedback" v-if="submitted && !$v.form.contactNumber.required">Contact Number is required for the Booking</div>
        <div class="invalid-feedback" v-if="submitted && !$v.form.contactNumber.numeric">This field must be a number</div>
      </b-form-group>

      <b-form-group>
        <label for="no-of-people">Number of People</label>
        <b-input v-model.trim="form.numberOfPeople" id="no-of-people" name="numberOfPeople" :class="{'is-invalid': $v.form.numberOfPeople.$error}"></b-input>
        <div class="invalid-feedback" v-if="submitted && !$v.form.numberOfPeople.required">Please enter the number of people for the Booking</div>
        <div class="invalid-feedback" v-if="submitted && !$v.form.numberOfPeople.numeric">This field must be a number</div>
      </b-form-group>

      <b-form-group>
        <label for="table-number">Table Number</label>
        <b-input v-model.trim="form.tableNumber" id="table-number" name="tableNumber" :class="{'is-invalid': $v.form.tableNumber.$error}"></b-input>
        <div class="invalid-feedback" v-if="submitted && !$v.form.tableNumber.required">Please enter a table number for the Booking</div>
        <div class="invalid-feedback" v-if="submitted && !$v.form.tableNumber.numeric">This field must be a number</div>
      </b-form-group>

      <b-form-group class="mb-4 clearfix">
        <label for="booking-time">Booking Time</label>
        <b-input v-model.trim="form.bookingTime" id="booking-time" name="bookingTime" :class="{'is-invalid': $v.form.bookingTime.$error}" :placeholder="form.placeholder"></b-input>
        <div class="invalid-feedback" v-if="submitted && !$v.form.bookingTime.required">Please enter a date and time for the Booking</div>
      </b-form-group>

      <b-form-group class="mt-4">
        <b-button type="submit" class="mr-3 pl-4 pr-4" variant="success" :disabled="submitStatus === 'PENDING'">Update Booking</b-button>

      </b-form-group>

    </b-form>
  </div>
</template>

<script>
  import axios from 'axios'
  import { required, minLength, numeric } from 'vuelidate/lib/validators'

  export default {

    data() {
      return {
        form: {
          contactName: '',
          contactNumber: '',
          numberOfPeople: '',
          tableNumber: '',
          bookingTime: ''
        },
        show: true,
        submitted: false,
        submitStatus: null,
        errors: {}
      }
    },
    validations: {
      form: {
        contactName: { required, minLength: minLength(6) },
        contactNumber: { required, numeric },
        numberOfPeople: { required, numeric },
        tableNumber: { required, numeric },
        bookingTime: { required }
      }
    },
    created() {
      axios.get('json/data.json')
      .then(response => {
        const data      = response.data;
        const bookingId = this.$route.params.Pid;
        const booking   = data.filter((obj) => {
          return obj.bookingId === bookingId;
        }).pop();
        return this.form = booking;
      })
    },
    methods: {
      onSubmit() {
        this.submitted = true;
        this.$v.$touch();
        if (this.$v.$invalid) {
          this.submitStatus = 'ERROR'
        } else {
          this.submitStatus = 'PENDING'
          const data = {
            bookingId: this.$route.params.Pid,
            contactName: this.form.contactName,
            contactNumber: this.form.contactNumber,
            numberOfPeople: this.form.numberOfPeople,
            tableNumber: this.form.tableNumber,
            bookingTime: this.form.bookingTime
          }
          alert(JSON.stringify(data))
        }
      }
    }

  }
</script>

<style scoped>
.invalid-feedback {
  margin: 0 0.25rem;
  width: 99.4%;
  font-size: 100%;
  color: #ffffff;
  padding: 0.5rem 0.75rem;
  background-color: rgba(220,53,69,0.75);
}
.typo__p {
  display: inline-block;
  line-height: 1.6;
  color: rgb(220,53,69);
}
</style>
