<template>
  <div id="bookings">
    <b-table striped hover :items="items" :fields="fields" :sort-by.sync="sortBy" :sort-direction="sortDirection" @row-clicked="onRowClicked" :tbody-tr-class="rowHighlight"></b-table>
  </div>
</template>

<script>
  import axios from 'axios'
  var moment = require('moment')

  export default {
    name: 'bookings',
    data () {
      return {
        sortBy: 'bookingTime',
        sortDirection: 'desc',
        fields: [
          { key: 'contactName', sortable: true },
          { key: 'contactNumber', sortable: false },
          { key: 'numberOfPeople', sortable: false, label: 'No of Diners' },
          { key: 'tableNumber', sortable: false },
          { key: 'bookingTime', sortable: false,
            formatter: value => {
              return moment(value).format('DD/MM/YYYY HH:MM');
            }
          }
        ],
        items: [],
        errors: []
      }
    },
    created() {
      axios
        .get('json/data.json')
        .then(response => {
          this.items = response.data;
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    methods: {
      onRowClicked(item) {
        this.$router.push({ name:'edit', params:{Pid:item.bookingId} })
      },
      rowHighlight(item) {
        if (!item) return
        if (item.numberOfPeople > 6) return 'text-danger'
        if (item.numberOfPeople === 1) return 'text-primary'
      }
    }
  }
</script>

<style>
  .table-striped > tbody > tr:hover {
    cursor: pointer;
  }
  .table-striped > tbody > tr:last-child > td {
    border-bottom: 1px solid rgb(222,226,230);
  }
</style>
