<template>
  <header>
    <div id="nav" class="mb-4">
      <b-button class="mr-3" variant="success" to="/create">Create Booking</b-button>
      <b-button to="/">Booking List</b-button>
    </div>
  </header>
</template>
