<template>
  <div id="bookingApp">
    <pageHeader />
    <router-view />
  </div>
</template>

<script>
import pageHeader from './components/pageHeader.vue'

export default {
  name: 'bookingApp',
  components: {
    pageHeader
  }
}
</script>

<style>
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding: 2rem;
}
</style>
